{
  "typeCheckingMode": "strict",
  "pythonVersion": "{{ python_version }}",
  "pythonPlatform": "All",
  {% if project_type == 'monorepo' -%}
  "include": ["packages", "scripts"],
  "exclude": [
    "**/.*",
    "**/__pycache__",
    "**/node_modules",
    "**/venv",
    "**/_*",
    "**/tmp"
  ],
  "extraPaths": [
    "packages/*/src",
    "packages/*/tests"
  ],
  "strict": ["packages"],
  {% else -%}
  "include": ["src"],
  "exclude": [
    "**/__pycache__",
    "**/.pytest_cache",
    "**/node_modules",
    ".venv",
    "**/_*",
    "**/tmp"
  ],
  "venvPath": ".",
  "venv": ".venv",
  {% endif -%}
  "reportMissingImports": true,
  "reportMissingTypeStubs": false,
  "reportUnknownParameterType": true,
  "reportUnknownArgumentType": true,
  "reportUnknownVariableType": true,
  "reportUnknownMemberType": true,
  "reportMissingTypeArgument": true,
  "reportOptionalSubscript": true,
  "reportOptionalMemberAccess": true,
  "reportOptionalCall": true,
  "reportOptionalIterable": true,
  "reportOptionalContextManager": true,
  "reportOptionalOperand": true,
  "reportUnusedImport": true,
  "reportUnusedVariable": true,
  "reportUnusedFunction": true,
  "reportUnusedClass": true,
  "reportUnusedCoroutine": true,
  "reportPrivateImportUsage": true,
  "reportConstantRedefinition": true,
  "reportIncompatibleMethodOverride": true,
  "reportIncompatibleVariableOverride": true,
  "reportUnnecessaryTypeIgnoreComment": true,
  "reportInvalidTypeVarUse": true,
  "reportUnknownLambdaType": true,
  "reportTypedDictNotRequiredAccess": true,
  "reportOverlappingOverload": true,
  "useLibraryCodeForTypes": true,
  "stubPath": "stubs"
}
